.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: black;
    margin: 1rem;
}
 
/* On mouse-over, add a deeper shadow */

.contents-card {
    padding: 5%;
}

.flip-card {
    background-color:transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 #FF6EC7;
    border-radius: 15px;
  }

  /* #FF6EC7 - neon pink,  #C32AFF - neon purple */

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
  }

  .flip-card-front {
      background-color: whitesmoke;
      
      color:white;
  }

  /* This changes text color and desciription*/
  .flip-card-back {
    transform: rotateY(180deg);
    color: white;
    text-align: justify;
  }

  .flip-card-back p {
    margin: 20px;
  }

  .card-body{
    background: black;
      opacity: 80px;
      border-radius: 15px;
  }

  .modal-styling{
    background: transparent;
    border: none;
  }

  .card-title{
    font-size: 180%;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.)1px -1px 0 rgba(255, 255, 255, 0.), -1px 1px 0 rgba(255, 255, 255, 0.), 1px 1px 0 rgba(255, 255, 255, 0.);
    vertical-align: middle; 
  }

  .centerText{
  display: inline-block;
  }

  .game-properties p {
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    border-width: 1px;
    width: fit-content;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 5px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .card-img-top{
    height: 245px;
    width: 295px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 2px;
  }

  .game-properties {
    display: flex;
    flex-wrap: wrap;
    margin:0;
  }

  .game-name {
      font-weight: bold;
  }

  .player-number {
    background-color: #344021;
  }

  .game-time {
    background-color: #4F2820;
  }

  .game-type {
    background-color: #693070;
  }

  .game-mood {
    background-color: #242452;
  }

  .age-group {
    background-color: #1E3F42;
  }


  .card-button {
    background-color: #1b8fb988;
    color: white;
    margin: 1%;
  }

  .card-button:before {
    background-color: #B721FF;
    background-image: linear-gradient(to right, #B721FF 30%, #fff 100%);
    position: absolute;
  }
  
  .card-button:hover, .card-button:focus, .card-button:active {
    color: #21D4FD;
  }

  .card-button span {
    position: relative;
    z-index: 1;
  }

  .card-button:before {
    content: "";
    background-color: #1B90B9;
    /* opacity: 0.59; */
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0;
    left: 0;
    transform: scale(4) translateX(-100%);
    transition: all 495ms ease-out;
  }
  .card-button:hover:before, .card-button:focus:before, .card-button:active:before {
    transform: scale(4) translate(37%);
  }

  .card-button {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 900;
    padding: 1.25rem 2rem;
    font-size: 1rem;
    /* border-radius: 3.5rem/100%; */
    position: relative;
    min-width: 15rem;
    max-width: 90vw;
    overflow: hidden;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: all 330ms;
    margin-left: 2em;
    margin-right: 2em;
  }
  