body {
    background-image: url(https://images-ext-2.discordapp.net/external/WxkCmtmNtN-PsCLHQZ6MsLIEgQIXEE6p-YhpFMMN0EU/https/c4.wallpaperflare.com/wallpaper/828/579/667/abstract-neon-lights-hd-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    background-attachment: fixed;
  }
  
  .container{
    background-color: black;
  }

  .button {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    margin: 4px;
  }
  
  h1{
    margin-bottom:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow:  0 0 30px black, 0 0 50px #0000FF;
  }
  
  .btn {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 900;
    padding: 1.25rem 2rem;
    font-size: 1rem;
    border-radius: 3.5rem/100%;
    position: relative;
    min-width: 15rem;
    max-width: 90vw;
    overflow: hidden;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: all;
    
  }

#keepOnHover{
  position: relative;
  z-index: 1;
}

  .btn span {
    position: relative;
    z-index: 1;
  }

  /* .btn:before {
    content: "";
    background-color: #1B90B9;
     opacity: 0.59; 
    position: absolute;
    margin: 0px;
    /* transform: scale(4) translateX(-100%);
    transition: all 495ms ease-out; 
  } */
  /* .btn:hover:before, .btn:focus:before, .btn:active:before {
    transform: scale(4) translate(37%);
  } */

/* alpha button */

  .btn--alpha {
    background-color:#FF10F0;
    color: white;
    margin: 0.75%;
  }
  .btn--alpha:before {
    background-color:black;
    /* color: white;
    margin: 1%; */
    /* background-image: linear-gradient(to right, #B721FF 30%, #fff 100%); */
  }
  .btn--alpha:hover, .btn--alpha:focus, .btn--alpha:active {
    background-color: #FF10F0;
    color: #21D4FD;
  }


  

  @media only screen and (max-width: 720px) {
    .button{
        flex-direction: column;

    }

    .btn {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
  }

  
